html{
    font-size: 62.5%;
}
*{
    margin: .2rem; 
    padding:.2rem;
}
body{
    font-family: monospace;
}
.Home-Page-Starting{
    /* border: 2px solid black; */
    height: 55rem
    ;
    /* background: linear-gradient(-150deg, #222222 15%, #373737 70%, #3c4859 94%); */
    
  
}
.Header-Part{
   
    display: flex;
    justify-content: space-between;
}
.Header-Part-Left{
    /* border: 2px solid red; */
    margin-left: 15rem;
    margin-top: .8rem;
    font-size: 2.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
#Logo-Name{
    
    color: black; /* Text color */
    font-size: 3.5rem;
    
    
}
.Header-Part-Right{
    /* border: 2px solid blue; */
    margin-right: 20rem; ;
    font-size: 1.8rem;
    font-weight: 350;
}
.Header-Part-Right ul{
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

    color: black
}
.Header-Part-Right ul li{
    margin-right: 3.5rem;
    list-style: none;
    cursor: pointer;
    transition: transform 1s;
}
.Header-Part-Right ul li:hover{
    transform: scale(1.1);
}
#Logo-Part1{
    color: rgba(204, 255, 0, 0.847);
}
#Logo-Part2{
    color: rgb(6, 112, 6);
}
.Left-Side{
    /* border: 2px solid red; */
    width: 45rem;
    margin-left:1rem ;
    margin-top: 3.5rem;
}
.Right-Side{
    /* border: 2px solid blue; */
    width: 56rem;
    margin-right: 24rem;
    margin-top: 22.5rem;
    /* font-weight: 400; */
    /* font-size: 40px; */
}
.Right-Side h1{
    font-weight: 400;
    margin-left: 7rem;
    margin-top: 2rem;
    font-size: 4rem;
}
.Right-Side p{
        font-size: 2rem;
        font-weight: 400;
        margin-top: 2rem;
        margin-left: 2.9rem;
        line-height: 3rem;
}
#Info-Mes{
    /* display: none; */
    margin-left: 14rem;
}
.Home-Page-Upper{
    height: 45rem;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    
}
.Left-Side img{
    width: 45rem;
    margin-left: 15rem;
}
#CreateID{
    margin-left:21rem ;
    margin-top: .2rem;
    width: 14rem;
    height: 4rem;
    /* color:#33b355; */
    background-color: #46d56c;
    color: rgba(255, 255, 255, 0.815);
    font-size: 1.6rem;
    font-weight:400;
    padding-top:1rem;
    padding-bottom:1rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
    border-radius: .4rem;
    opacity: 1;
}
.Middle-Page{
    /* border: 2px solid black; */
    height: 85rem;
    display: flex;
    margin-top:14rem;
    margin-left: 5rem;
    justify-content: space-between;
}
.Mid-Left{
    height: 70rem;
    margin-top: 2.5rem;
    /* border: 2px solid black; */
    width: 55rem;
    margin-left:19rem
}

.Mid-Right{
    margin-top: 10rem;
    height:40rem;
    width: 55rem;
    /* border:2px solid red; */
    margin-right: 20px;
}
.Mid-Left-Part1{
    /* border: 2px solid blue; */
    display: flex;
    font-size: 1.8rem;
    font-family: 'Courier New', Courier, monospace;
    height: 15rem;
    margin-top: 1rem;
    transition: transform 1s;
}
.Mid-Left-Part1:hover{
    transform: scale(1.1);
}
.Part1-Logo img{
    width: 5.1rem;
    margin-top: 1rem;
    margin-left: 0px;
}
.Part1-Info{
    margin-top: 3rem;
    margin-left: -5px;
}
#part-title{
    color: #33b355;
    margin-left: 1.4rem;
    font-weight: bold;
}
#part-slash{
    margin-top: .4rem;
    margin-left: 1.4rem;
}
#part-info-main{
    font-size: 1.5rem;
    color:#6e6e6e;
    margin-left: 2.5rem;
}
.Mid-Left h1{
    color: #33b355;
    font-size:3rem;
    margin-left:2rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

}
.Mid-Left h1 span
{
    color: #1a1919;
}
.Mid-Right img{
    width: 40rem;
}
/* .Mid-Right{
    margin-top: 100px;
} */

        