html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*{
    margin: .2rem; 
    padding:.2rem;
}
body{
    font-family: monospace;
    /* background-color: black; */
}
.Home-Page-Starting{
    /* border: 2px solid black; */
    height: 55rem
    ;
    /* background: linear-gradient(-150deg, #222222 15%, #373737 70%, #3c4859 94%); */
    
  
}
.Header-Part{

    display: flex;
    justify-content: space-between;
}
.Header-Part-Left{
    /* border: 2px solid red; */
    margin-left: 15rem;
    margin-top: .8rem;
    font-size: 2.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
#Logo-Part1 img{
    width: 18.5rem;
    margin-top: -7.3rem;
    /* display: none; */
    /* border: 2px solid black; */
}
.Header-Part-Right{
    /* border: 2px solid blue; */
    margin-right: 20rem; ;
    font-size: 1.8rem;
    font-weight: 350;
}
.Header-Part-Right ul{
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

    color: black
}
.Header-Part-Right ul li a{
    text-decoration: none;
    color: black;
    /* border: 2px solid gray; */
}
.Header-Part-Right ul li{
    margin-right: 3.5rem;
    list-style: none;
    cursor: pointer;
    /* border: 2px solid black; */
    transition: transform 1s;
}
.Header-Part-Right ul li:hover{
    transform: scale(1.1);
}
#Logo-Part1{
    color: rgba(204, 255, 0, 0.847);
}
#Logo-Part2{
    color: rgb(6, 112, 6);
}
.Left-Side{
    /* border: 2px solid red; */
    width: 45rem;
    margin-left:1rem ;
    margin-top: 3.5rem;
}
.Right-Side{
    /* border: 2px solid blue; */
    width: 56rem;
    margin-right: 24rem;
    margin-top: 22.5rem;
    /* font-weight: 400; */
    /* font-size: 40px; */
}
.Right-Side h1{
    font-weight: 400;
    margin-left: 7rem;
    margin-top: 2rem;
    font-size: 4rem;
}
.Right-Side p{
        font-size: 2rem;
        font-weight: 400;
        margin-top: 2rem;
        margin-left: 2.9rem;
        line-height: 3rem;
}
#Info-Mes{
    /* display: none; */
    margin-left: 14rem;
}
.Home-Page-Upper{
    height: 45rem;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    
}
.Left-Side img{
    width: 45rem;
    margin-left: 15rem;
}
#CreateID{
    margin-left:21rem ;
    margin-top: .2rem;
    width: 14rem;
    height: 4rem;
    /* color:#33b355; */
    background-color: #46d56c;
    color: rgba(255, 255, 255, 0.815);
    font-size: 1.6rem;
    font-weight:400;
    padding-top:1rem;
    padding-bottom:1rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
    border-radius: .4rem;
    opacity: 1;
}
.Middle-Page{
    /* border: 2px solid black; */
    height: 65rem;
    display: flex;
    margin-top:12rem;
    margin-left: 5rem;
    justify-content: space-between;
}
.Mid-Left{
    height: 70rem;
    margin-top: 2.5rem;
    /* border: 2px solid black; */
    width: 55rem;
    margin-left:19rem
}

.Mid-Right{
    margin-top: 10rem;
    height:40rem;
    width: 55rem;
    /* border:2px solid red; */
    margin-right: 20px;
}
.Mid-Left-Part1{
    /* border: 2px solid blue; */
    display: flex;
    font-size: 1.8rem;
    font-family: 'Courier New', Courier, monospace;
    height: 12rem;
    margin-top: 1rem;
    transition: transform 1s;
}
.Mid-Left-Part1:hover{
    transform: scale(1.1);
}
.Part1-Logo img{
    width: 5.1rem;
    margin-top: 1rem;
    margin-left: 0px;
}
.Part1-Info{
    margin-top: 3rem;
    margin-left: -5px;
}
#part-title{
    color: #33b355;
    margin-left: 1.4rem;
    font-weight: bold;
}
#part-slash{
    margin-top: .4rem;
    margin-left: 1.4rem;
}
#part-info-main{
    font-size: 1.5rem;
    color:#6e6e6e;
    margin-left: 2.5rem;
}
.Mid-Left h1{
    color: #33b355;
    font-size:3rem;
    margin-left:2rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

}
.Mid-Left h1 span
{
    color: #1a1919;
}
.Mid-Right img{
    width: 40rem;
}
/* .Mid-Right{
    margin-top: 100px;
} */

.Authentication{
    /* border: 2px solid black; */
    height: 60rem;
    display: flex;
    justify-content: space-between;
    margin-top: -4rem;
}
#SignUp{
    /* border: 2px solid red; */
    width: 55rem;
    margin-left: 47rem;
}
#Login{
    /* border: 2px solid blue; */
    width: 55rem;
    margin-left: 47rem;
}
.SignUp-Logo img ,.Login-Logo img{
    width: 22rem;
    /* border: 2px solid blue; */
    margin-top: -2rem;
}
.SignUp-Logo ,.Login-Logo{
    /* border: 2px solid black; */
    width: 20rem;
    margin-left: 14rem;
}
#SignUp-Info,#Login-Info{
    /* border: 2px solid red; */
    width: 52rem;
    margin-top: -5.5rem;
}
#SignUp-Info input,#Login-Info input{
    display: block;
    width: 33rem;
    padding: 1.8rem 1.3rem; /* Adjust padding for text alignment */
    margin-left: 8rem;
    text-align: left; /* Set text alignment to left */
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    font-size: 1rem;
    outline: none;
    margin-bottom: 2rem;
    font-size: 1.4rem;
}
#Sign-Up_Submit_Btn,#Login_Submit_Btn{
    width: 27.5rem;
    padding: 1.5rem 2rem; /* Adjust padding for better aesthetics */
    margin-left: 11.5rem;
    background-color: rgba(74, 115, 202, 0.879);
    color: white; /* Set text color to contrast with background */
    border: none; /* Remove border */
    border-radius: 0.3rem;
    font-size: 1.2rem; /* Increase font size for better visibility */
    font-weight: bold; /* Add bold font weight for emphasis */
    cursor: pointer; /* Add pointer cursor for interactivity */
    transition: background-color 0.3s ease; /* Add smooth hover effect */
    display: block;
    transition: transform 1s;
    }
    #Sign-Up_Submit_Btn:hover,#Login_Submit_Btn:hover{
        transform: scale(1.1);
    }
    #SignUp-Info span{
        font-size: 1.5rem;
        color: #546E7A;
        cursor: pointer;
    }
    .SignUp-Actions{
        /* border: 2px solid black; */
        width: 10rem;
        margin-left: 8rem;
        margin-top: 1.5rem;
    }
    .LoginUp-Actions{
        width: 26rem;
        margin-left: 8rem;
        margin-top: 1.5rem;
    }
    .LoginUp-Actions span{
        font-size: 1.5rem;
        color: #546E7A;
        cursor: pointer;
    }
        